<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @basic.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @basic.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @basic.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @basic.mobile %>
</p>