<%= form_tag "/changepassword", action: "post" do %>
  <div class="field">
    <%= label_tag "Old Password" %>
    <%= password_field_tag :oldpassword %><br/>
    <span class="fieldtip">should match your old password exactly</span>
  </div>

  <div class="field">
    <%= label_tag "Password" %>
    <%= password_field_tag :password %><br/>
    <span class="fieldtip">if you want to be safe, chose a strong password</span>
  </div>

  <div class="field">
    <%= label_tag "Confirm Password" %>
    <%= password_field_tag :confirmpassword %><br/>
    <span class="fieldtip">confirm password should match the password</span>
  </div>

  <div class="actions">
    <%= submit_tag "Change Password", :class => "btn btn-primary" %>
  </div>
<% end %>