

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit span3 pull-right">
      	<h2>Sign up</h2>

			<%= form_for Tmpuser.new, url: '/signup', :method => 'post', :validate => true do |f| %>
			  <p><%= f.text_field :firstname, :placeholder => "first name" %></p>

        <p><%= f.text_field :email, :placeholder => "email" %></p>

			  <p><%= f.submit "Sign up", :class => "btn btn-success" %></p>
			<% end %>
      </div>

      <!-- Example row of columns -->
      <div class="row" style="margin-top:60px;">
        <div class="span4">
          	<h3>Why use webresumes?</h3>
         	<p># Paper resumes are a thing of the past</p>
			<p># Use webresumes</p>
			<p># Stay ahead</p>
        </div>

      <% t = Testimonial.last
          if (t) %>
        <div class="span7">
            	<h3>
                Testimonial
              </h3>
	          	<p>"<%= t.what %>"
                -- <%= t.who %>
              </p>
        </div>
      <% end %>

        <div class="span7">
          <a href="/feedback"><h3 class="btn btn-primary">Give Feedback</h3></a>
        </div>
      </div>
