<%= form_for @experience, :validate => true do |f| %>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.date_select :from %><br/>
    <span class="fieldtip">when did you join?</span>
  </div>

  <div class="field">
    <%= f.label :to %><br />
    <%= f.date_select :to %><br/>
    <span class="fieldtip">when did you leave?</span>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br/>
    <span class="fieldtip">name of the organization</span>
  </div>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %><br/>
    <span class="fieldtip">organization's website</span>
  </div>

  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %><br/>
    <span class="fieldtip">what did you work as?</span>
  </div>

  <div class="actions">
    <%= f.submit "Add Experience", class: "btn btn-primary" %>
  </div>
<% end %>
