<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @experience.resume_id %>
</p>

<p>
  <b>From:</b>
  <%= @experience.from %>
</p>

<p>
  <b>To:</b>
  <%= @experience.to %>
</p>

<p>
  <b>Name:</b>
  <%= @experience.name %>
</p>

<p>
  <b>Website:</b>
  <%= @experience.website %>
</p>

<p>
  <b>Desc:</b>
  <%= @experience.desc %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
