<p id="notice"><%= notice %></p>

<p>
  <b>Who:</b>
  <%= @feedback.who %>
</p>

<p>
  <b>Description:</b>
  <%= @feedback.description %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
