<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @school.resume_id %>
</p>

<p>
  <b>From:</b>
  <%= @school.from %>
</p>

<p>
  <b>To:</b>
  <%= @school.to %>
</p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Website:</b>
  <%= @school.website %>
</p>

<p>
  <b>Desc:</b>
  <%= @school.desc %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
