<%= form_for(@achievement) do |f| %>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year, :min => 1950, :max => Time.now.year, :value => Time.now.year %><br/>
    <span class="fieldtip">if it is a duration, enter the end date</span>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %><br/>
    <span class="fieldtip">awards, honors, certifications, etc.</span>
  </div>
  <div class="actions">
     <%= f.submit "Add Achievement", class: "btn btn-primary" %>
  </div>
<% end %>
