<p id="notice"><%= notice %></p>

<p>
  <b>Resume:</b>
  <%= @achievement.resume_id %>
</p>

<p>
  <b>Year:</b>
  <%= @achievement.year %>
</p>

<p>
  <b>Description:</b>
  <%= @achievement.description %>
</p>


<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
