<!DOCTYPE html>
<html>
<head>
  <title>SeeMyResu.me</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", "rails.validations.js", 'rails.validations.custom' %>
  <%= csrf_meta_tag %>
</head>
<body>

<script type="text/javascript">
$( document ).ready(function() {

<% flash.each do |key, msg| %>
  noty({text: '<%= msg %>', type: '<%= key %>'});
<% end %>
});
</script>


<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="http://localhost:3000/">SeeMyResu.me</a>
			<div class="nav-collapse collapse">

<% if (session[:user_id]) %>
<span class ="userbar pull-right">
        Hi, <%= User.find(session[:user_id]).firstname %>
        <%= link_to "logout", "/logout" %>
</span>
<% else %>
        <%= form_for User.new, :url => "/authenticate", method: "post", html: { class: "navbar-form pull-right" } do |f| %>
          <%= f.text_field :email, class: 'span3', placeholder: 'email' %>
          <%= f.password_field :password, class: 'span2', placeholder: 'password' %>
          <%= f.submit 'Login', class: 'btn btn-primary' %>
        <% end %>
<% end %>
    	</div>
		</div>
	</div>
</div>

<div class="container content">
<% if (session[:user_id]) %>
  <div id="leftwing" class="pull-left span2" style="margin:0;">

    <ul class="well sidebox">
      <li class="sideheader">
          Edit Content
      </li>
      <li>
        <%= link_to "Basic", "/profile" %>
      </li>
      <li>
        <%= link_to "Skills", "/skills" %>
      </li>
      <li>
        <%= link_to "Achievements", "/achievements" %>
      </li>
      <li>
        <%= link_to "Academics", "/schools" %>
      </li>
      <li>
        <%= link_to "Experience", "/experiences" %>
      </li>
    </ul>

    <ul class="well sidebox">
      <li class="sideheader">
          Settings
      </li>
      <li>
        <%= link_to "Template", "" %>
      </li>
      <li>
        <%= link_to "Sharing", "" %>
      </li>
      <li>
        <%= link_to "Change Password", "/changepassword" %>
      </li>
    </ul>

  </div>
<% end %>

<% if (session[:user_id]) %>

  <div id="centerstage" class="pull-left span8" style="padding:20px;margin:0">
    <%= yield %>
  </div>

<% else %>
    <%= yield %>
<% end %>

<% if (session[:user_id]) %>

  <div id="rightwing" class="pull-right span2" style="margin:0;text-align:center;">

    <input type="button" class="btn btn-success" value="SeeMyResu.me" style="margin:25px 0;" onClick="window.open('http://localhost:3000/me/<%= session[:user_id] %>');" />

    <ul class="well sidebox">
      <li class="sideheader">
          Statistics
      </li>
      <li>
        Views
        <%= User.find(session[:user_id]).views %>
      </li>

    </ul>

  </div>
<% end %>

      <hr>

      <footer style="clear:both">
        <p><a href="http://localhost:3000/welcome/index">Home</a> | About | Privacy policy | Terms of Use | Contact Us</p>
      </footer>

</div>


</body>
</html>
